body{
  font-family: sans-serif;
  font-size:50%;
}


header {
  text-align: center;
  }

.heading {
  font-family: sans-serif;
  color: white;
  margin-top: 0rem;
}

#header{
  padding-bottom: 20px;
}

@keyframes imageAnimation {
  0% {border-radius:50;}
  100%{border-radius: 80; transform: rotate(360deg);}
}

.image{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 2px solid #D1603D;
    margin-top: 1rem;
    animation-name: imageAnimation;
    animation-duration: 2s ;
    animation-iteration-count: 8;
    animation-timing-function: ease-in;
}

#navlist{
  list-style-type: none;
  overflow: hidden;
}

#navlist li{
  display: inline;
  float:left;
}

#navlist li a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: white;  
}

#navlist li a:hover{
  font-size: 2rem;
  color: blue;
}


.row{
  color: black;
  opacity: 1;
  font: normal normal bold 20px Helvetica;
  letter-spacing: 2px;
}

footer {
  text-align: center;
  height: 15rem;
  padding: 2rem;
  width: 100%;
  
}

.Contact{
  color: white;
  padding-top: 2rem;
}

.logo{
  margin: 0.1rem;
  width: 0.5 rem;
  padding-bottom: 0.5rem;
  border-radius: 20%;
}


.job1, .job2, p{
  font-size: 1rem;
  line-height: 2;
}

h3{
  font-size: 1.2rem;
}

.link{
  text-decoration: none;
}

.container{
  font-family: Helvetica, sans-serif;
}

.first-p{
  font-size: 20px;
  color:black;
}

#second-p{
max-width: 600px;
color: #555;
font-size: 16px;
line-height: 2;
}

#first-list, #second-list{
max-width: 600px;
color:#555;
font-size: 16px;
line-height: 2;
}


